body {
  font-size: 20px; 
  font-family: 'Lato', sans-serif;
}
.intro{
  background-color: #2B2E4A;
  width: 100%;
  height: 80vh;
  color: #fff;
  text-align: center;
  padding-top: 90px;
}
.greeting{
  font-size: 80px;
}
.highlight{
  color: #E84545;
  font-size: 90px
}
.info{
  font-size: 80px;
}
.my-work{
  padding-top: 40px;
}
.title{
  text-align: center;
  font-size: 50px;
}
ul>li{
  float: left;
  width: 30%;
  padding: 20px;
}
img{
  width: 400px;
  height: 400px;
}
